* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: url("../img/marble_background.jpg");
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  background: #fff;
  width: 350px;
  height: 350px;
  border: 1px solid #dbdbdb;
  margin-bottom: 0.6rem;
}

.lock_img {
  display: block;
  width: 3rem;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

input {
  display: block;
  width: 250px;
  height: 40px;
  margin: 0 auto;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  text-indent: 5px;
  outline-color: gray;
}

.loginBtn {
  display: block;
  width: 250px;
  height: 30px;
  margin: 0 auto;
  border: none;
  border-radius: 3px;
  background: rgb(190, 230, 241);
  font-weight: bold;
  font-size: medium;
  color: white;
}

.loginBtn a {
  color: white;
}

input:first-child {
  margin-bottom: 0.5rem;
}
input:nth-child(2) {
  margin-bottom: 1.5rem;
}